.container{
    background-color: white;
    margin: 0px;

}

.row{
    display: flex;
    justify-content:space-between;
}

.title{
    font-family: 'poppinsBold';
    font-size: 34px;
    color: #0d0e0d;
    text-align: left;
    padding: 10px;
    margin: 0px 0px 0px 20px;
}

.button{
    text-decoration: none;
    margin: 10px 20px 0px 0px;
    border-radius: 10px;
    background-color: transparent;
    color: #121212;
    font-family: 'poppins';
    font-size: 24px;
    border: none;
    transition-duration: 0.3s;
    padding: 0px 40px 0px 40px;
}

.button:hover{
    background-color: #0f100f;
    color: #0c0c0c;
}

.info{
    margin: 20px;
}

section{
  margin: 0px 0px 0px 30px;
  display: grid;
  gap: 0 1rem;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(3, 1fr);  
}

section p:nth-child(4){
    grid-row: 1/4;
    padding: 0px 40px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: right;
    border-right: 1px solid #0e0e0e;
}

.subject{
    color: #2B59C3;
    font-family: 'poppinsBold';
    font-size: 24px;
    margin: 30px 0px 0px 0px;
    padding: 0px;
}

.institute{
    color: #090909;
    font-family: 'poppins';
    font-size: 16px;
    font-style: italic;
    margin: 0px;
    padding: 0px;
}

.duration{
    color: #050505;
    font-family: 'poppins';
    font-size: 14px;
    font-style: italic;
    margin: 0px;
    padding: 0px;
}

.score{
    color: #050505;
    font-family: 'poppins';
    font-size: 24px;
}